@import "tailwindcss";

#root {
  min-height: 100vh;
}

@media screen and (max-width:768px) {
  html {
    font-size: 13px;
  }
}

.short {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    /* Kaç satır gösterileceği */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.shadow-lg:hover{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}